extends ./layouts/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote nec est vitae tortor viverra tristique sed sit amet est. Ut sed mauris elementum, tincidunt est vel, rhoncus libero. Integer ligula arcu, ultrices in tortor sit amet, sodales malesuada nisi. Ut sem felis, convallis nec lacinia ac, sodales id ligula. Ut lectus lorem, ullamcorper ac porta et, auctor quis augue. Quisque vitae scelerisque nibh. Nullam vel leo bibendum velit maximus consequat sit amet nec tellus. In hac habitasse platea dictumst.

                p Suspendisse tincidunt pretium tellus, at dignissim est feugiat sed. Maecenas in dui lacinia, tempor quam a, ornare neque. Sed pretium interdum velit vel accumsan. Ut in tortor vel magna condimentum fermentum. 

                p Nulla aliquam, turpis ac accumsan fringilla, est leo lacinia velit, vitae porta neque enim vel mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent ante justo, ornare quis augue ut, feugiat vulputate quam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla aliquam, turpis ac accumsan fringilla, est leo lacinia velit, vitae porta neque enim vel mauris. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla aliquam, turpis ac accumsan fringilla, est leo lacinia velit, vitae porta neque enim vel mauris. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nulla aliquam, turpis ac accumsan fringilla, est leo lacinia velit, vitae porta neque enim vel mauris. 